 .kasa-section2{
    height: 283px; 
    width: 100%;
  margin-left: 370px;
    
 }


 .section2-group{
position: absolute;
top: 100px;
    

 }


.section2-background1{
background: #000000;
mix-blend-mode: darken;
opacity: 0.3;
border-radius: 25px;

width: 1240px;
height: 223px;
z-index: 3;

}

.section2-background2{
    position: relative;
height: 223px;
width: 1240px;

bottom: 450px;

background: #F7F7F7;
border-radius: 25px;


z-index: 1;

}
.section2-img {
    position: relative;
    z-index: 2;
    border-radius: 25px;

    bottom: 223px;

}