 .kasa-section2{
    height: 223px; 
    width: 100%;
 }


.section2-group{
    position: relative;
    width: 1240px;
    bottom: 200px;
    margin-right: 100px;
    height: 223px;





}

.section2-background1{
    position: relative;

background: #000000;
mix-blend-mode: darken;
opacity: 0.3;
border-radius: 25px;

width: 1240px;
height: 223px;
z-index: 3;

}

.section2-background2{
position: relative;
height: 223px;

background: #F7F7F7;
border-radius: 25px;
bottom: 450px;

z-index: 1;

}
.section2-img {
    position: relative;

    bottom: 223px;

    width: 1240;
    margin-right: 100px;
    border-radius: 25px;
 
    z-index: 2;
   

}