    .kasa-section2{
        display: flex;
        height: 223px; 
        max-width: 1240px;
        margin-left: auto;   
        margin-right: auto;
        margin-top: 40px;    
        margin-bottom: 50px;
    }

    .section2-img {
        width: 100%;
        border-radius: 25px;
        

    }

    @media all and (min-width: 900px) and (max-width: 1024px) {
        .kasa-section2{
            display: flex;
            height: 223px; 
            max-width: 1240px;
            margin-left: auto;
            margin-right: auto;   
            margin-top: 40px;    
            margin-bottom: 50px;
        }
    
        .section2-img {
            width: 100%;
            border-radius: 25px;
            
    
        }
    

    }

    @media all and (max-width: 899px) {
        .kasa-section2{
            display: flex;
            height: 223px; 
            max-width: 1240px;
            margin-left: 0px;   
            margin-top: 40px;    
            margin-bottom: 50px;
        }
    
        .section2-img {
            width: 100%;
            border-radius: 25px;
            
    
        }
    }
