@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap');

 
 .kasa-section1{
    height: 223px; 
    width: 100%;
 }

.section1-text {
    position: relative;
    
text-align: center;

right: 0px;

    z-index: 4;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 142.6%;
    /* or 68px */
    
   
    
    color: #ffffff;
    
}

.section1-group{
    position: relative;
    width: 1240px;
    bottom: 200px;
    margin-right: 100px;
    height: 223px;





}

.section1-background1{
    position: relative;

background: #000000;
mix-blend-mode: darken;
opacity: 0.3;
border-radius: 25px;

width: 1240px;
height: 223px;
z-index: 3;

}

.section1-background2{
position: relative;
height: 223px;

background: #F7F7F7;
border-radius: 25px;
bottom: 450px;

z-index: 1;

}
.section1-img {
    position: relative;

    bottom: 223px;

    width: 1240;
    margin-right: 100px;
    border-radius: 25px;
 
    z-index: 2;
   

}