@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap');

 
 .kasa-section1{
    display: flex;
    height: 223px; 
    max-width: 1240px;
    margin-left: 20%;
    margin-top: 50px;
 }

 

.section1-img {
    position: relative;
    border-radius: 25px;
    bottom: 223px;
    z-index: 1;
   

}
.section1-background1{
    position: relative;
    background: #000000;
    mix-blend-mode: darken;
    opacity: 0.3;
    border-radius: 25px;
    
    
    height: 223px;
    z-index: 2;

}
.section1-text {
    position: relative;
    bottom: 365px;
    margin: 0;
    text-align: center;
    z-index: 3;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    color: #ffffff;
    
}







@media all and (min-width: 900px) and (max-width: 1024px) {
    .kasa-section1{
        display: flex;
        height: 223px; 
        width: 900px;
        margin-left: 50px;
        margin-top: 50px;
     }

     .section1-group{
        width: 900px;
        
     }
    
    .section1-img {
        position: relative;
        border-radius: 25px;
        bottom: 223px;
        width: 900px;
        height: 223px;

        z-index: 1;
       
    
    }
    .section1-background1{
        position: relative;
        background: #000000;
        mix-blend-mode: darken;
        opacity: 0.3;
        border-radius: 25px;
    
        height: 223px;
        z-index: 2;
    
    }
    .section1-text {
        position: relative;
        bottom: 365px;
        margin: 0;
        text-align: center;
        z-index: 3;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        color: #ffffff;
        
    }
}