@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap');

 
 .kasa-section1{
    display: flex;
    max-width: 1240px;
    height: 223px;
    margin-left: 20%;
   margin-right: 5%;
 }

 .section1-background1{
    position: relative;
    right: 1240px;
    background-color: #000000;
    mix-blend-mode: darken;
    opacity: 0.3;
   min-width: 100%;
    height: 223px;
    z-index: 2;
    border-radius: 27px;
    
}

.section1-img {
    position: relative;
   min-width: 100%;
  height: 223px;
  z-index: 1;
   border-radius: 25px;

}

.section1-text {
    position: relative;
    min-width: 800px;
    top: 80px;
    right:2260px;
    margin: 0;
    text-align: center;
    z-index: 3;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    color: #ffffff;
    
}







@media all and (min-width: 900px) and (max-width: 1024px) {
    .kasa-section1{
        display: flex;
        max-width: 1240px;
        height: 223px;
        margin-left: 100px;
       margin-right: 5%;
     }
    
     .section1-background1{
        position: relative;
        right: 1240px;
        background-color: #000000;
        mix-blend-mode: darken;
        opacity: 0.3;
        width: 100%;
        height: 223px;
        z-index: 2;
        border-radius: 27px;
        
    }
    
    .section1-img {
        position: relative;
       min-width: 100%;
      height: 223px;
      z-index: 1;
       border-radius: 25px;
    
    }
    
    .section1-text {
        position: relative;
        min-width: 800px;
        top: 80px;
        right:2260px;
        margin: 0;
        text-align: center;
        z-index: 3;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        color: #ffffff;
        
    }
}

@media all and (max-width: 889px) {
    .kasa-section1{
        display: flex;
        max-width: 1240px;
        height: 111px;
        margin-left: 0px;
       margin-right: 0px;
     }
    
     .section1-background1{
        position: relative;
        right: 525px;
        background-color: #000000;
        mix-blend-mode: darken;
        opacity: 0.3;
        width: 100%;
        height: 111px;
        z-index: 2;
        border-radius: 27px;
        
    }
    
    .section1-img {
        /* position: relative; */
       width: 100%;
      height: 111px;
      z-index: 1;
       border-radius: 25px;
    
    }
    
    .section1-text {
        position: relative;
        min-width: 800px;
        top: 40px;
        right:1190px;
        margin: 0;
        text-align: center;
        z-index: 3;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        color: #ffffff;
        
    }

}