.kasa-error {
width: 1240px;
margin-left: 652px;
margin-top: 150px;




}


.error-logo {
width: 597px;
height: 263px;
}

.error-message{
position: relative;
right: 120px;
top: 50px;


    font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 142.6%;
/* or 51px */

display: flex;
align-items: flex-end;

color: #FF6060;
}

.error-lien{

position: relative;
left: 150px;
top: 250px;

    font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 142.6%;
/* identical to box height, or 26px */

display: flex;
align-items: flex-end;
text-decoration-line: underline;

color: #FF6060;
}