.kasa-gallery{
    display: flex;
    max-width: 1240px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;

    background: #F7F7F7;
    border-radius: 25px;
}

@media all and (min-width: 900px) and (max-width: 1024px) {
    .kasa-gallery{
        display: flex;
        width: 900px;
        margin-top: 50px;
        margin-left: 50px;
        margin-bottom: 50px;
    
        background: #F7F7F7;
        border-radius: 25px;
    }

}

@media all and (max-width: 899px) {
    .kasa-gallery{
        display: flex;
        min-width: 360px;
        margin-top: 20px;
        margin-left: 0px;
        margin-bottom: 0px;
        background: #ffffff;
        border-radius: 25px;
    }

}