.kasa-star {
    display: flex;
    max-width: 200px;
}

.ul-star{
    padding-left: 0px;
}


@media all and (max-width: 889px) {

    .kasa-star {
        display: flex;
        max-width: 200px;
        margin-top: 35px;
        
    }

    .ul-star{
        padding-left: 0px;
    }

    

}