.kasa-tags{
    display: flex;
    flex-wrap: nowrap;
    
    
}

.tag {
    text-align: center;
    font-family: 'Montserrat';
    color: #ffffff;
    font-weight: bold;
    background-color: #FF6060;
    margin-right: 30px;
    border-radius: 10px;
    height: 25px;
    
    /* margin-right: 30px;
    border-radius: 50px;
    background-color: #FF6060;
    padding-left: 10px;
    padding-right: 10px; */
   
    
} 

.tag-p{
    min-width: 80px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 2px;
    margin-bottom: 0px;
    
   
}