.kasa-footer{
  display: flex;
   left: 280px;
  height: 209px;
  width: 1440px;
  margin-bottom: -10px;
  margin-left: 280px;
  margin-top: 150px;

background: #000000;
}

.footer-thing{
    display: flex;
    flex-direction: column;
   justify-content: center;
    align-items: center;
    padding-left: 530px;
    height: 209px;
}

.footer-logo{
    margin-top: 25px;
    margin-bottom: 30px;
   
}

.footer-text{
   
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
   
    
    
  
    color: #FFFFFF;
}