.kasa-host{
    display: flex;
    
   
}



.host-img{
    
    border-radius: 100px;
    height: 80px;
    
   
}

.host-name{
    display: flex;
    flex-wrap: wrap;
    font-family: 'Montserrat';
    color: #FF6060;
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    margin-right: 10px;
    max-width: 80px;
    line-height: 30px;
    
}